<div class="c-section">
  <div class="map_container">
    <div id="show_map"></div>
  </div>
  <h1 class="c-title c-title--large"><%= @place.name %></h1>
  <h2 class="c-title"><%= @place.address %></h2>
  <h2 class="c-title"><%= @place.phone_number %></h2>
  <h2 class="c-title">Type of Restaurant: <%= @place.category %></h2>
  <h2 class="c-title c-title--tiny"># of Likes Received by Users = <%= @place.likes.count %></h2>
  <!-- <div class="map_container">
    <div id="likes_map"></div>
  </div> -->
  <h3 class="c-title c-title--tiny">Likes by Cities</h3>
  <ol>
    <% @likes_by_cities.each do |group| %>
      <li><%= "#{group[:name]} = #{group[:likes]} Likes" %></li>
    <% end %>
  </ol>
  <h3 class="c-title c-title--tiny">Likes by States</h3>
  <ol>
    <% @likes_by_states.each do |group| %>
      <li><%= "#{group[:name]} = #{group[:likes]} Likes" %></li>
    <% end %>
  </ol>
  <h3 class="c-title c-title--tiny">Likes by Countries</h3>
  <ol>
    <% @likes_by_countries.each do |group| %>
      <li><%= "#{group[:name]} = #{group[:likes]} Likes" %></li>
    <% end %>
  </ol>
</div>
<script>
  var place = <%== {lat: @place.latitude, lng: @place.longitude }.to_json %>;
  
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('show_map'), {
      center: {lat: place.latitude, lng: place.longitude},
      zoom: 12
    });

    // var position = new google.maps.LatLng(place.lat, place.lng);
    // var marker = new google.maps.Marker({
    //   position: position,
    //   map: map
    // });

    // places.forEach(function(place) {
    //   var position = new google.maps.LatLng(place.lat, place.lng);
    //   var marker = new google.maps.Marker({
    //     position: position,
    //     map: map
    //   });
    // });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUbWRtQWZ3pC8radEZuKVryQ8A2dlayQw&callback=initMap" async defer></script>
