<div class= "jumbotron">
  <h1 class= "display-4 text-chicle text-primary">Step #2</h1>
  <h1 class= "display-5 text-chicle text-primary">Please Tell Us More About Yourself!</h1>
  <div class="card mb-3 border-0 ml-0 mr-0 mb-0">
    <div class="card-body">
      <%= simple_form_for @user do |f| %>
        <%= f.input :name, label: "Your name:", class: "w-25" %><br><br>
        Upload you profile picture: <%= f.file_field :avatar %><br><br>
        <a><%= f.button :submit, "Update your profile", class: "btn btn-dark" %></a>
      <% end %>
      
      <h3>Please list up to 3 places that you have lived at the longest. When you like a a place these locations will be linked to it!</h3>
      <% simple_form_for @locations do |f| %>
        <%= f.input :city, class: "w-25" %><br>
        <%= f.input :state, class: "w-25" %><br>
        <%= f.input :country, class: "w-25" %><br><br>
        <%= f.input :city, class: "w-25" %><br>
        <%= f.input :state, class: "w-25" %><br>
        <%= f.input :country, class: "w-25" %><br><br>
        <%= f.input :city, class: "w-25" %><br>
        <%= f.input :state, class: "w-25" %><br>
        <%= f.input :country, class: "w-25" %><br><br>
        <%= f.button :submit, "Update your profile", class: "btn-lg, btn-danger w-25" %>
      <% end %>
    </div>
  </div>
</div>
