<div>
  <h1>Your Profile Page</h1>
  <h2>User Name: <%= current_user.name %></h2>
  <% if current_user.avatar.attached? %>
    <h4><%= image_tag current_user.avatar.variant(resize: "150 x 200")%></h4>
    <%= link_to "Download #{current_user.name}'s Photo", rails_blob_path(current_user.avatar, disposition: "attachment") %>
  <% end %>
  <h2> Email Address: <%= current_user.email %></h2>
  <h2> User's Locations: </h2>
  <% @locations.each do |location| %>
      <ul>
        <li><%= location.city%>, <%= location.state %> <%location.country %></li>
      </ul>
  <% end %>
  <button><%= link_to "Edit Profile", edit_user_path(current_user), class: "c-link" %></button>
  <button><%= link_to 'Delete', users_path, method: :destroy, data: { confirm: 'Are you sure?' }, class: "c-button c-button--warning"%></button>
</div>
