<div class="c-card u-margin-bottom-small">
  <div class="c-section">
    <% if @user.avatar.attached? %>
      <h4><%= image_tag @user.avatar.variant(resize: "150 x 200")%></h4>
    <% end %>
    <h2 class="c-title"><%= @user.name %></h2>
    <h3 class="c-title c-title--tiny"><%= @user.email %></h3>
    <h4 class="c-title c-title--tiny">Locations:</h4>
      <ul>
      <% @locations.each do |location| %>
        <li><%= location.city%>, <%= location.state %> <%= location.country %></li>
      <% end %>
      </ul>
    <h4 class="c-title c-title--tiny"># of Likes = <%= @user.likes.count %></h4>
    <h4 class="c-title c-title--tiny">Places Liked:</h4>
      <ul>
      <% @places.each do |place| %>
        <li><%= place.name %></li>
      <% end %>
      </ul>
    <button><%= link_to 'Delete', admin_users_path, method: :destroy, data: { confirm: 'Are you sure?' }, class: "c-button c-button--warning"%></button>
  </div>
</div>
