<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-chicle display-4"><%= @place.name %></h2>
      <div id="likes_map"></div>
      <div id="show_map"></div>
    </div>
    <div class="col-sm-6">
      <div class="card clearfix mt-5 mb-5">
        <div class="card-body mt-0">
          <a><%= button_to 'Like', place_likes_path(@place), method: :post, class: "btn btn-success btn-lg w-25 mb-2 font-weight-bold" %></a>
          <h6><%= @place.address %></h6>
          <h6><%= @place.phone_number %></h6>
          <h6>Category: <%= @place.category %></h6>
          <h5 class= "text-primary"><%= @place.likes.count %> <%= likes_unit @place.likes.count %></h5>
        </div>
      </div>
      <div class="card clearfix mt-5 mb-5">
        <div class="card-header">
          <h2 class="text-chicle display-5">Liked most by users from</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="">
              <h2 class="text-chicle display-6">City</h2>
                <ul class="list-unstyled">
                  <% @likes_by_cities.each do |group| %>
                    <h6><li><%= "#{group[:name]} = #{group[:likes]} #{likes_unit(group[:likes])}" %> </li></h6>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="">
              <h2 class="text-chicle display-6">State</h2>
                <ul class="list-unstyled">
                  <% @likes_by_states.each do |group| %>
                    <h6><li><%= "#{group[:name]} = #{group[:likes]} #{likes_unit(group[:likes])}" %></li></h6>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="">
              <h2 class="text-chicle display-6">Country</h2>
                <ul class="list-unstyled">
                  <% @likes_by_countries.each do |group| %>
                    <h6><li><%= "#{group[:name]} = #{group[:likes]} #{likes_unit(group[:likes])}" %></li></h6>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var place = <%== {lat: @place.latitude, lng: @place.longitude, name: @place.name, likes: @place.likes.count, address: @place.address }.to_json %>;
  var likeLocations = <%== @place.locations.map {|location| {lat: location.latitude, lng: location.longitude, address: location.address }}.to_json %>;

  var map;
  var likesMap;

  function initMap() {
    // place's map
    map = new google.maps.Map(document.getElementById('show_map'), {
      center: {lat: place.lat, lng: place.lng},
      zoom: 15
    });
    var name = <%== {name: @place.name}.to_json %>;
    var content = <%== {name: @place.name}.to_json %>;
    var position = new google.maps.LatLng(place.lat, place.lng);
    var marker = new google.maps.Marker({
      position: position,
      map: map,
      title: place.name
    });
    var infowindow = new google.maps.InfoWindow({
          content: place.name + place.address + place.likes
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });

    // likes map
    likesMap = new google.maps.Map(document.getElementById('likes_map'), {
      zoom: 5,
      center: {lat: place.lat, lng: place.lng}
    });

    var icon = {
        url: "<%= asset_url 'like-icon.png' %>", // url
        scaledSize: new google.maps.Size(30, 30), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
    };

    likeLocations.forEach(function(likeLocation){
      var position = new google.maps.LatLng(likeLocation.lat, likeLocation.lng);
      var marker = new google.maps.Marker({
        position: position,
        map: likesMap,
        title: likeLocation.name,
        icon: icon
      });
    })

    // var infowindow = new google.maps.InfoWindow({
    //       content: place.name + place.address + place.likes
    // });
    // marker.addListener('click', function() {
    //     infowindow.open(map, marker);
    // });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_MAPS_API&callback=initMap" async defer></script>
