<div class="container">
  <div id="carouselIndicators" class="carousel slide w-75 float-left shadow position-fixed" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id="show_map" class="d-block w-100"></div>
      </div>
      <div class="carousel-item">
        <div id="likes_map" class="d-block w-100"></div>
          <div class="carousel-caption d-none d-md-block">
            <h4 class= "text-chicle text-dark">Locations associated with Likes</h4>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  <!-- <div class="show_map_container shadow-sm mt-5 ml-10 mr-20 mb-4 float-left">
    <div id="show_map"></div>
    <div id="likes_map"></div>
  </div> -->
</div>
<div class="card border-0 float-right w-25">
  <div class="card-body mt-0">
    <h1 class="display-5 text-chicle"><%= @place.name %></h1>
    <h5><%= @place.address %></h5>
    <h5><%= @place.phone_number %></h5>
    <h5>Category: <%= @place.category %></h5>
    <h5 class= "text-primary"><%= @place.likes.count %><%= (@place.likes.count) == 1 ? ' Like' : ' Likes'%></h5>
    <a><%= button_to 'Like', place_likes_path(@place), method: :post, class: "btn btn-success btn-lg w-50 font-weight-bold" %></a><br><br>
    <h1 class="display-5 text-chicle">Likes by Cities</h1>
      <ol>
        <% @likes_by_cities.each do |group| %>
          <h5><li><%= "#{group[:name]} = #{group[:likes]} Likes" %></li></h5>
        <% end %>
      </ol>
    <h1 class="display-5 text-chicle">Likes by States</h1>
      <ol>
        <% @likes_by_states.each do |group| %>
          <h5><li><%= "#{group[:name]} = #{group[:likes]} Likes" %></li></h5>
        <% end %>
      </ol>
    <h1 class="display-5 text-chicle">Likes by Countries</h1>
      <ol>
        <% @likes_by_countries.each do |group| %>
          <h5><li><%= "#{group[:name]} = #{group[:likes]} Likes" %></li></h5>
        <% end %>
      </ol>
  </div>
</div>
<script>
  var place = <%== {lat: @place.latitude, lng: @place.longitude, name: @place.name, likes: @place.likes.count, address: @place.address }.to_json %>;
  var likeLocations = <%== @place.locations.map {|location| {lat: location.latitude, lng: location.longitude, address: location.address }}.to_json %>;

  var map;
  var likesMap;

  function initMap() {
    // place's map
    map = new google.maps.Map(document.getElementById('show_map'), {
      center: {lat: place.lat, lng: place.lng},
      zoom: 18
    });
    var name = <%== {name: @place.name}.to_json %>;
    var content = <%== {name: @place.name}.to_json %>;
    var position = new google.maps.LatLng(place.lat, place.lng);
    var marker = new google.maps.Marker({
      position: position,
      map: map,
      title: place.name
    });
    var infowindow = new google.maps.InfoWindow({
          content: place.name + place.address + place.likes
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });

    // likes map
    likesMap = new google.maps.Map(document.getElementById('likes_map'), {
      zoom: 1.60,
      center: {lat: place.lat, lng: place.lng}
    });

    likeLocations.forEach(function(likeLocation){
      var position = new google.maps.LatLng(likeLocation.lat, likeLocation.lng);
      var marker = new google.maps.Marker({
        position: position,
        map: likesMap,
        title: likeLocation.name
      });
    })

    // var infowindow = new google.maps.InfoWindow({
    //       content: place.name + place.address + place.likes
    // });
    // marker.addListener('click', function() {
    //     infowindow.open(map, marker);
    // });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUbWRtQWZ3pC8radEZuKVryQ8A2dlayQw&callback=initMap" async defer></script>
