<!DOCTYPE html>
<html>
  <head>
    <title>FoodMapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="c-container-page">
  <header>
    <div class="c-section">
      <h1 class="c-title c-title--large">Food Mapp</h1>
      <ul class="c-navigation">
        <li class="c-navigation__item">
          <%= link_to "Home", root_path, class: "c-navigation__link c-navigation__link--active" %>
        </li>
        <% if current_user %>
          </li>
          <li class="c-navigation__item c-navigation__item--push-right">  
            <%= image_tag current_user.avatar.variant(resize: "25 x 40")%>
            Welcome, <%= current_user.name %>!
            <% if current_user %>
              <%= link_to "Edit Profile", edit_user_path(current_user), class: "c-link" %>
            <% end %>
            <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "c-link") %>
          </li>
        <% else %>
          <li class="c-navigation__item c-navigation__item--push-right">

            <%= link_to "Log In", new_user_session_path, class: "c-navigation__link" %> or <%= link_to "Sign Up", new_user_registration_path, class: "c-navigation__link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="index.js"></script>
  </body>
  <footer>
    <div class="c-section">
        <h1 class="c-title">Food Mapp</h1>
        <ul class="c-navigation">
          <li class="c-navigation__item">
            <%= link_to "Home", root_path, class: "c-navigation__link c-navigation__link--active" %>
          </li>
          <% if current_user %>
            <li class="c-navigation__item c-navigation__item--push-right">
              Logged in as <%= current_user.email %>
            </li>
          <% else %>
            <li class="c-navigation__item c-navigation__item--push-right">

              <%= link_to "Log In", new_user_session_path, class: "c-navigation__link" %> or <%= link_to "Sign Up", new_user_registration_path, class: "c-navigation__link" %>
            </li>
          <% end %>
        </ul>
      </div>
  </footer>
</html>
