<!DOCTYPE html>
<html>
  <head>
    <title>FoodMapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Chicle|Open+Sans" rel="stylesheet">
  </head>
  <body class="ht-body ht-tm-bubblegum">
  <div class="ht-main">
    <header class="ht-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h2 class= "text-chicle text-light mr-3">Food Mapp</h2>
          <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
              <a><%= link_to "Home", root_path, class: "nav-link btn btn-danger mr-3" %>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a><%= link_to "Add Restaurant", new_place_path, class: "nav-link btn btn-primary mr-3" %></a>
            </li>
            <%# if current_user.avatar.present? %>
              <li class= "nav-item">
                <%# image_tag current_user.avatar.variant(resize: "35 x 50"), class: "rounded-circle" %>
              </li>
            <%# end %>
            <% if current_user %>
              <li class="nav-item">  
                <span class= "nav-link text-chicle text-light mr-3"> Welcome, <%= current_user.name %>!</span>
              </li>
            <% if current_user %>
              <li class="nav-item">
                <a><%= link_to "Profile", user_path(current_user),class: "nav-link mr-3" %></a>
              </li>
            <% end %>
            <li class="nav-item">
              <a><%= link_to("Logout", destroy_user_session_path, method: :delete, class: "nav-link mr-3") %></a>
            </li>
            <% else %>
            <li class="nav-item">
              <a><%= link_to "Log In", new_user_session_path, class: "nav-link mr-3" %></a>
            </li>
            <li class= "nav-item">
              <a><%= link_to "Sign Up", new_user_registration_path, class: "nav-link mr-3" %></a>
            </li>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <label class="sr-only" for="inlineFormInputGroup">Restaurant Search</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <%= form_tag(places_path, method: "get") do %>
                <%= text_field_tag :search, nil, placeholder: "Search Restaurants", class: "form-control mr-sm-2" %>
                <%= submit_tag "", style: "display: none;" %>
                <button type="submit" class="btn btn-danger ml-2 h-50"><%= submit_tag "", style: "display: none;" %>Search</button>
              <% end %>
            </div>
          </form>
        </div>
      </nav>
      <p class="notice text-danger"><%= notice %></p>
      <p class="alert text-danger"><%= alert %></p>
    </header>
      <%= yield %>
    <footer>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <!-- <script src="application.js"></script> -->
  </div>
  </body>
</html>
